<!DOCTYPE html>
<html>
  <head>
    <title>Pair Switcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid" data-controller="application">
      <% flash.keys.each do |key| %>
        <% flash_info_map = { 'notice' => 'info', 'alert' => 'warning' }%>
        <div class="alert alert-<%= flash_info_map[key] %> mt-3"><%= flash[key] %></div>
      <% end %>

      <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" title="v1.0.1">
            <%= link_to 'Pair Switcher', :root %>
          </li>
          <% @breadcrumb ||= []  %>
          <% @breadcrumb.each_with_index do |bc, index| %>
            <li class="breadcrumb-item <%= index == @breadcrumb.length %>" aria-current="page">
              <% if bc[1] %>
                <%= link_to bc[0], bc[1] %>
              <% else %>
              <%= bc[0] %>
            <% end %>
          </li>
          <% end %>
        </ol>
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
